<h3>List of Clients</h3>
<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">Client_Id</th>
    <th scope="col">Client_Name</th>
    <th scope="col">POC_Full_Name</th>
    <th scope="col">POC_Phone_Number</th>
    <th scope="col">POC_Email_Address</th>
  </tr>
</thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td>{{client.id}}</td>
    <td>{{client.name}}</td>
    <td>{{client.fullName}}</td>
    <td>{{client.phoneNumber}}</td>
    <td>{{client.emailAddress}}</td>
  </tr>
  </tbody>
</table>
