<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(190, 27, 27); padding:0; width:100%;">
    <!-- <b style="color:white;">Project Management UI Application</b> -->
    <ul class="navbar-nav" style="margin-left:2rem;">
   
      <!-- <li class="nav-item">
        <a class="nav-link" href=" " routerLink="/getClients"><b>List All Clients</b></a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link" href=" " routerLink="/getProjects"><b>List All Projects</b></a>
      </li> -->
     
      <li class="nav-item">
        <a class="nav-link"   href=" " routerLink="/addProject"><b>Add New Project</b></a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link" style="margin-left:1.5rem; " href=" " routerLink="/updateProject"><b>Update Existing Project</b></a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link" style="margin-left:1.5rem; " href=" " routerLink="/addResource"><b>Add New Resource</b></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="margin-left:15rem; " href=" " routerLink="/logout"><b>Logout</b></a>
      </li>

    </ul>
  </nav>
